{% extends "layout.html" %}
<!-- {% block head %}
  {{ super() }}
{% endblock %} -->
{% block content %}

<div class="site-wrapper-inner">

    <div class="container">

      <div class="masthead clearfix">
        <div class="container inner">
          <h3 class="masthead-brand">Face Analyzer</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <p class="lead">
            <button type="button" class="btn btn-default btn-lg">Upload</button>
        </p>
        <!-- <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
        <!-- <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p> -->
      </div>

    </div>

</div>
  <!-- <h1>Hello, world!</h1> -->
{% endblock %}
